<!DOCTYPE html>

<html 
lang="en"
 th:fragment="parent(content,title,script)" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">Base page</title>
    <link href="@{/css/output.css}" rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-pink-100">

        <!-- navbar if user logged in -->
         <div th:if="${loggedinuser}">
         <div data-th-replace="~{user_navbar :: topbar}"></div>
         </div>
        

         <!-- navbar if user not logged in -->
         <div th:unless="${loggedinuser}">
             <div data-th-replace="~{header :: navbar}"></div>
         </div>

       

        <!-- spacer to offset the fixed navbar height so content is not hidden behind it -->
        <div class="h-16 md:h-20"></div>

     <div class="p-4">
         <section data-th-replace="${content}">
        
        </section>
</div>

    <footer class="p-4">
     <!-- Footer -->
      

    </footer>


    
     <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
     <script data-th-src="@{'/js/theme.js'}"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    
     <th:block data-th-replace="${script}"></th:block>
</body>
</html>